language: python

python:
  - "2.7"
  
sudo: false
cache: pip
dist: trusty

addons:
  apt:
    packages:
      - expect-dev  # provides unbuffer utility
      - python-lxml  # because pip installation is slow

env:
  global:
  - VERSION="10.0" TESTS="0" LINT_CHECK="0" TRANSIFEX="0" UNIT_TEST="0"
  - WEBSITE_REPO="1"
  - PYLINT_ODOO_JSLINTRC="/home/travis/maintainer-quality-tools/travis/cfg/.jslintrc"
  - TRANSIFEX_USER='i18n-bot@it-projects.info'
  - secure: "qWzliXFMrWdGAUISD6mx3slpZJuLAGWRxOWaVAphlJiBQVooKPnmSHbKkG0knI0zbAGbVwLwfl38LYhCDEIdMX4lR+qQrTSnGRDxbYqt76RO0kj2kTJhqHKi0Fs9A+C8Xag4jovG1s6BdOe//Wq/gElBlgFVlvlQlmTAlLsvIzzfdhnUQwvn0o4cvWvlABoatcBnprY9ZJT9Wn7Yt5IKR6cuKeOk0HsFzFkuk2LOLpj1fz+kuj29/NAYXdD2TGVG+aER93rvavjO3cafaiVmJSLd50PgtEjOGSArlFVdj4TDpDu3CC+/IWaSPneajVH8bLOmyCVQ06O2ql4av59Sw/FT3nn+f/0aNTy+ew+2YJ6zNMpMmG8p2HzFA0JOAevjSfOXJQ2aveEs60SkjRtQ/bVtFXGx0sR98OiXv0Yc2G086VhpwNZ8PUi6cQLDjZy0LyLtcjMdR98c04D1LYsfF1E6tnMtNsblmrcteEAOLJZMbpnj5ZZehUXzQEvh98BB/I77RFmdmxnxlJ14G2oALK9HicmHCGvQwKsjRc36JOauk/11d9cw6cx95soDL3/Q8lHQFsNMqqGswgiuoZCsCQqXOEojhoo676NtYyOhqcHSl1hx1nPwllJcsF+SRUBIIrV2gYqCOqQ5gmPGCBZziGyb4y+LAndB93KwcFETxzI="


  matrix:
  - LINT_CHECK="1"
  - TRANSIFEX="1"
  - TESTS="1" ODOO_REPO="odoo/odoo"
  - TESTS="1" ODOO_REPO="OCA/OCB"

virtualenv:
  system_site_packages: true

install:
  - pip install anybox.testing.openerp
  - git clone https://github.com/it-projects-llc/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - travis_install_nightly

script:
  - travis_run_tests

after_success:
  coveralls

notifications:
  email: false
