body {
	font: 12px 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
	color: #EEE;
    background: url("../img/background.png") repeat;
    display: flex;
    flex-direction: column;
}
