.clock {
	font-size: 24px;
	text-align: center;
}
#clock0 {
	display:inline-block;
}
#clock1 {
	display:inline-block;
}
.chess_time {
	position:relative;
}
.running {
	color: rgba(250, 160, 55, 1);
}
.expired {
	background-color: red;
}
.chess_time_usr {
	position: relative;
    margin-top: -30px;
	text-align: center;
}

.chess_time_usr .time {
	display:inline-block;
    margin-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.chess_information .chess_time_usr {
	display: none;
}